.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide-wal
.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide
.vs/CodeTeam.Validacoes/DesignTimeBuild/.dtbcache
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.csprojAssemblyReference.cache
.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide-shm
.vs/CodeTeam.Validacoes/DesignTimeBuild/.dtbcache
.vs/CodeTeam.Validacoes/v16/.suo
.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide
CodeTeam.Validacoes/bin/Debug/netstandard2.0/CodeTeam.Validacoes.deps.json
CodeTeam.Validacoes/bin/Debug/netstandard2.0/CodeTeam.Validacoes.dll
CodeTeam.Validacoes/bin/Debug/netstandard2.0/CodeTeam.Validacoes.pdb
CodeTeam.Validacoes/obj/CodeTeam.Validacoes.csproj.nuget.cache
CodeTeam.Validacoes/obj/CodeTeam.Validacoes.csproj.nuget.dgspec.json
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.AssemblyInfo.cs
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.AssemblyInfoInputs.cache
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.csproj.FileListAbsolute.txt
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.dll
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.pdb
CodeTeam.Validacoes/obj/project.assets.json
.vs/LSCode.Validacoes/DesignTimeBuild/.dtbcache
.vs/LSCode.Validacoes/DesignTimeBuild/.dtbcache.v2
.vs/LSCode.Validacoes/v16/Server/sqlite3/db.lock
.vs/LSCode.Validacoes/v16/Server/sqlite3/storage.ide
LSCode.Validacoes/bin/Debug/LSCode.Validacoes.1.2.0.nupkg
LSCode.Validacoes/bin/Debug/netstandard2.0/LSCode.Validacoes.deps.json
LSCode.Validacoes/bin/Debug/netstandard2.0/LSCode.Validacoes.dll
LSCode.Validacoes/bin/Debug/netstandard2.0/LSCode.Validacoes.pdb
LSCode.Validacoes/obj/Debug/LSCode.Validacoes.1.2.0.nuspec
LSCode.Validacoes/obj/Debug/netstandard2.0/LSCode.Validacoes.AssemblyInfo.cs
LSCode.Validacoes/obj/Debug/netstandard2.0/LSCode.Validacoes.AssemblyInfoInputs.cache
LSCode.Validacoes/obj/Debug/netstandard2.0/LSCode.Validacoes.assets.cache
LSCode.Validacoes/obj/Debug/netstandard2.0/LSCode.Validacoes.csproj.CoreCompileInputs.cache
LSCode.Validacoes/obj/Debug/netstandard2.0/LSCode.Validacoes.csproj.FileListAbsolute.txt
LSCode.Validacoes/obj/Debug/netstandard2.0/LSCode.Validacoes.dll
LSCode.Validacoes/obj/LSCode.Validacoes.csproj.nuget.dgspec.json
LSCode.Validacoes/obj/Debug/netstandard2.0/LSCode.Validacoes.pdb
LSCode.Validacoes/obj/LSCode.Validacoes.csproj.nuget.g.props
LSCode.Validacoes/obj/LSCode.Validacoes.csproj.nuget.g.targets
LSCode.Validacoes/obj/project.assets.json
LSCode.Validacoes/obj/project.nuget.cache
.vs/LSCode.Validador/DesignTimeBuild/.dtbcache
.vs/LSCode.Validador/v16/.suo
.vs/LSCode.Validador/v16/Server/sqlite3/db.lock
.vs/LSCode.Validador/v16/Server/sqlite3/storage.ide
LSCode.Validador/bin/Debug/netstandard2.0/LSCode.Validador.deps.json
LSCode.Validador/bin/Debug/netstandard2.0/LSCode.Validador.dll
LSCode.Validador/bin/Debug/netstandard2.0/LSCode.Validador.pdb
LSCode.Validador/obj/Debug/LSCode.Validador.1.3.0.nuspec
LSCode.Validador/obj/Debug/netstandard2.0/LSCode.Validador.AssemblyInfo.cs
LSCode.Validador/obj/Debug/netstandard2.0/LSCode.Validador.AssemblyInfoInputs.cache
LSCode.Validador/obj/Debug/netstandard2.0/LSCode.Validador.assets.cache
LSCode.Validador/obj/Debug/netstandard2.0/LSCode.Validador.csproj.FileListAbsolute.txt
LSCode.Validador/obj/Debug/netstandard2.0/LSCode.Validador.dll
LSCode.Validador/obj/Debug/netstandard2.0/LSCode.Validador.pdb
LSCode.Validador/obj/LSCode.Validador.csproj.nuget.cache
LSCode.Validador/obj/LSCode.Validador.csproj.nuget.dgspec.json
LSCode.Validador/obj/LSCode.Validador.csproj.nuget.g.props
LSCode.Validador/obj/LSCode.Validador.csproj.nuget.g.targets
LSCode.Validador/obj/project.assets.json
