.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide-wal
.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide
.vs/CodeTeam.Validacoes/DesignTimeBuild/.dtbcache
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.csprojAssemblyReference.cache
.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide-shm
