.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide-wal
.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide
.vs/CodeTeam.Validacoes/DesignTimeBuild/.dtbcache
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.csprojAssemblyReference.cache
.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide-shm
.vs/CodeTeam.Validacoes/DesignTimeBuild/.dtbcache
.vs/CodeTeam.Validacoes/v16/.suo
.vs/CodeTeam.Validacoes/v16/Server/sqlite3/storage.ide
CodeTeam.Validacoes/bin/Debug/netstandard2.0/CodeTeam.Validacoes.deps.json
CodeTeam.Validacoes/bin/Debug/netstandard2.0/CodeTeam.Validacoes.dll
CodeTeam.Validacoes/bin/Debug/netstandard2.0/CodeTeam.Validacoes.pdb
CodeTeam.Validacoes/obj/CodeTeam.Validacoes.csproj.nuget.cache
CodeTeam.Validacoes/obj/CodeTeam.Validacoes.csproj.nuget.dgspec.json
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.AssemblyInfo.cs
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.AssemblyInfoInputs.cache
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.csproj.FileListAbsolute.txt
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.dll
CodeTeam.Validacoes/obj/Debug/netstandard2.0/CodeTeam.Validacoes.pdb
CodeTeam.Validacoes/obj/project.assets.json
